/* FormulairePopin.css */

.popin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff; /* Couleur du texte */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #28f8ff; 
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
    color: #333;
}

.close-button:hover {
    background: none; 
}

button, [type='button'], [type='reset'], [type='submit']{
    background-color: #007bff;
}